 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  list-style: none;
  text-decoration: none;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(13, 35, 126, 0.5),rgba(4,9,30,0.5)),url("Image1.jpg");
  background-position: center;
  background-size: cover;
}
/************* Navigation section **************/
nav{
  height: 80px;
  width: 100%;
  box-shadow: 0.25em 0.25em 0.75em rgba(116, 110, 110, 0.25),
  0.125em 0.125em 0.25em rgba(105, 100, 100, 0.15)
}
label.logo{
  color: white;
  font-size: 40px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.logo span{
  color: rgb(8, 248, 8);

}
nav ul{
  float: right;
  margin-right: 50px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  
}
nav ul li a{
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform:capitalize;
}
a.active,a:hover{
  background: #0865ac;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.content{
  width: 90%;
  color:ivory;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.content h1{
  font-size: 35px;
  color: rgb(11, 255, 11);
  font-weight: bolder;
  text-transform: uppercase;
  font-family: cursive;
}
.content p{
font-size: 25px;
margin-top: 30px;
line-height: 30px;
text-transform: capitalize;
line-height: 40px;
font-family: cursive;
margin-bottom: 50px;
}

#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  .content h1{
    font-size: 30px;

  }
  .content p{
    font-size: 20px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 50vh;
    background:rgb(17, 28, 72);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  label .logo{
    font-size: 30px;
  }
  .content h1{
    font-size: 25px;

  }
  .content p{
    font-size:18px;
  }
} 

/************* About section **************/
.about{
  width: 100%;
  padding:60px 0px;
}
.about img {
  height: auto;
  width: 600px;
}
.about--img{
  width: 1230px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.text{
  margin-left: 70px;
  font-family: cursive;
}
.text h1{
  text-transform: uppercase;
  background: -webkit-linear-gradient(#fdfc47,#24fe41);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 42px;
  font-weight: bold;
  
}
.text h2{
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.text p{
  font-size: 18px;
}
@media (max-width:991px){
  .about{
    width: 100%;
    padding:60px 0px;    
  }
  .about--img{
    flex-direction: column;
  }
  .text h1{
    margin-top: 50px;
    text-align: center;
  }
}

@media (max-width:768px){
  .about{
    width: 100%;
    padding:60px 0px;    
  }
  .about img {
    height: auto;
    width: 350px;
  }
  .about--img{
    width: 830px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }
  .text{
    margin:20px;
  }
  .text h1{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
  }
  .text h2{
   
    font-size: 20px;
  }
  .text p{
   
    font-size: 15px;
  }

}

/************* Contact section **************/
.contact {
  padding: 50px 100px;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(13, 35, 126, 0.5), rgba(4, 9, 30, 0.5)),
    url("Image3.png");
  background-size: cover;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contact-info {
  width: 50%;
  display: flex;
  padding: 50px 0;
  flex-direction: column;
  text-transform: capitalize;
}
.container .contact-info h1 {
  font-size: 45px;
  margin: 15px 0;
  font-weight: bold;
  background: -webkit-linear-gradient(#fdfc47, #24fe41);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .contact-info h2 {
  font-size: 30px;
  margin: 15px 0;
  font-weight: bold;
  background: -webkit-linear-gradient(#fdfc47, #24fe41);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .contact-info p {
  font-size: 19px;
  margin: 10px 0;
  color: white;
}
.contact-form {
  width: 40%;
  padding: 20px;
  background: white;
}
.contact-form .input {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact-form .input input,
.contact-form .input textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  resize: none;
}

.contact-form .input span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: rgb(7, 7, 7);
}
.contact-form .input input:focus ~ span,
.contact-form .input input:focus ~ span,
.contact-form .input input:focus ~ span,
.contact-form .input input:focus ~ span {
  color: black;
  font-size: 14px;
  transform: translateY(-20px);
}
.btn{
 box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:6px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:cursive;
	font-size:15px;
	font-weight:bold;
	padding:8px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.btn:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.btn:active {
	position:relative;
	top:1px;
}
@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contact-info {
    margin-bottom: 40px;
  }
  .container .contact-info h2 {
    font-size: 25px;
  }
  .container .contact-info p {
    font-size: 18px;
  }

  .container .contact-info,
  .contact-form {
    width: 100%;
  }
}

@media (max-width: 400px) {
.contact .content h2{
  font-size: 35px;
  margin-bottom: 20px; 
}
.container .contact-info h2{
  font-size: 20px;
}
.container .contact-info p{
  font-size: 16px;

}
}  
